<template>
  <svg
    :width="width"
    :height="height"
    viewBox="0 0 192 192"
    xmlns="http://www.w3.org/2000/svg"
    xml:space="preserve"
    fill="none"
  >
    <path
      d="m104.175 90.97-4.252 38.384 38.383-4.252L247.923 15.427V2.497L226.78-18.646h-12.93zm98.164-96.96 31.671 31.67"
      class="cls-1"
      style="
        fill: none;
        fill-opacity: 1;
        fill-rule: nonzero;
        stroke: #c3b9b985;
        stroke-width: 12;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-dasharray: none;
        stroke-opacity: 1;
      "
      transform="translate(-77.923 40.646)"
    />
    <path
      d="m195.656 33.271-52.882 52.882"
      style="
        fill: none;
        fill-opacity: 1;
        fill-rule: nonzero;
        stroke: #c3b9b985;
        stroke-width: 12;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 5;
        stroke-dasharray: none;
        stroke-opacity: 1;
      "
      transform="translate(-77.923 40.646)"
    />
  </svg>
</template>
<script>
export default {
  props: {
    width: { default: "20" },
    height: { default: "20" },
  },
};
</script>
