<template>
  <div class="card-content">
    <div class="title"><svgCheckTask /> TODO LIST</div>
    <!-- Add New Task Block  -->
    <div class="add-block">
      <new-task @AddNewTask="AddNewTaskEvent"></new-task>
    </div>
    <!-- End Add New Task Block  -->

    <hr color="#d1cfcf" size="1" />
    <!-- Filter Block  -->
    <div class="filter">
      <div class="filter-icon" title="Filter"><svgFilter /></div>
      <select name="complete" id="complete" v-model="complete">
        <option
          v-for="(item, index) in listStatus"
          :value="item.value"
          :key="'option' + index"
        >
          {{ item.text }}
        </option>
      </select>
    </div>

    <!-- End Filter Block  -->

    <!-- Tasks Block  -->
    <div class="card-body">
      <div class="no-item" v-if="TasksData.length == 0">0 Tasks</div>
      <Task
        v-else
        v-for="task in TasksData"
        :key="'taks' + task.id"
        :name="task.name"
        :complete="task.complete"
        @DeletTask="DeletTaskEvent(task.id)"
        @UpdatecompleteTask="UpdatecompleteTaskEvent(task.id)"
        @handelUpdateTask="handelUpdateTaskEvent($event, task.id)"
      ></Task>
    </div>
    <!-- End Tasks Block  -->
  </div>
</template>

<script setup>
import newTask from "../components/NewTask.vue";
import Task from "../components/Task.vue";
import { computed, ref, onMounted } from "vue";

/*
 * The component's data.
 */
const Tasks = ref([]);
const complete = ref(null);
const listStatus = ref([
  { value: null, text: "Status" },
  { value: true, text: "Completed" },
  { value: false, text: "Not Completed" },
]);

/*
 * refresh localStorage content
 */
const SetLocalStorage = () => {
  localStorage.setItem("Tasks", JSON.stringify(Tasks.value));
};

/*
 * Add task
 */
const AddNewTaskEvent = (event) => {
  Tasks.value.push({
    name: event,
    complete: false,
    id: Math.floor(Math.random() * 100),
  });
  SetLocalStorage();
};

/*
 * Delete task
 */
const DeletTaskEvent = (id) => {
  Tasks.value = Tasks.value.filter((task) => task.id != id);
  SetLocalStorage();
};

/*
 * Update status task
 */
const UpdatecompleteTaskEvent = (id) => {
  let index = Tasks.value.findIndex((task) => task.id == id);
  if (index >= 0) {
    Tasks.value[index].complete = !Tasks.value[index].complete;
    SetLocalStorage();
  }
};

/*
 * Update task name
 */
const handelUpdateTaskEvent = (name, id) => {
  let index = Tasks.value.findIndex((task) => task.id == id);
  if (index >= 0) {
    Tasks.value[index].name = name;
    SetLocalStorage();
  }
};

/*
 * Filter task with status
 */
const TasksData = computed(() => {
  if (complete.value != null) {
    return Tasks.value.filter((task) => task.complete == complete.value);
  }
  return Tasks.value;
});

/*
 * Get Tasks From localStorage
 */
onMounted(() => {
  Tasks.value = localStorage.getItem("Tasks")
    ? JSON.parse(localStorage.getItem("Tasks"))
    : [];
});
</script>

<style lang="scss" scoped>
.card-content {
  width: 50%;
  background-color: #f8f9fb;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  border-radius: 5px;
  display: grid;
  row-gap: 15px;
  padding: 20px;
  min-height: 50%;
  margin: auto;
  .title {
    color: $primary;
    text-align: center;
    font-weight: 600;
    display: flex;
    align-items: end;
    justify-content: center;
    svg {
      margin-right: 10px;
    }
  }
  .card-body {
    margin-top: 10px;
    height: calc(100vh - 248px);
    overflow-y: auto;
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    &::-webkit-scrollbar {
      width: 7px;
      height: 7px;
    }
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px #ffffff;
      border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
      background: #cca19f21;
      border-radius: 7px;
    }
  }
  .filter {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    select,
    .filter-icon {
      height: 28px;
      background-color: #fff;
      box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    }
    select {
      border-radius: 0px 5px 5px 0px;
      border: none;
      color: $gray;
      padding: 2px;
      font-size: 12px;
    }
    .filter-icon {
      border-radius: 5px 0 0 5px;
      width: 27px;
      display: flex;
      align-content: center;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  .no-item {
    display: flex;
    height: 100%;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    color: #808080;
    font-weight: 700;
    font-size: 15px;
  }
}
</style>
