<template>
  <button
    :type="type"
    :class="className"
    :title="title"
    @click="handelClickBtn"
  >
    <slot></slot>
  </button>
</template>

<script>
export default {
  props: {
    type: { default: "submit" },
    className: { default: "add-button" },
    title: { default: "Add new task" },
  },
  setup(props, context) {
    const handelClickBtn = () => {
      if (props.type != "submit") {
        context.emit("click");
      }
    };
    return {
      handelClickBtn,
    };
  },
};
</script>

<style></style>
