<template>
  <div class="new-item-content">
    <!-- Task Form -->
    <form @submit.prevent="handelAddNewTask">
      <!-- Name -->
      <input
        type="text"
        id="text"
        v-model="newItem"
        required
        placeholder="Add new task .. "
      />
      <!-- Add Button -->
      <btn>Add</btn>
    </form>
  </div>
</template>

<script>
import { ref } from "vue";
export default {
  setup(props, context) {
    /*
     * The component's data.
     */
    const newItem = ref(null);

    /*
     * Emit add new task event
     */
    const handelAddNewTask = function () {
      context.emit("AddNewTask", newItem.value);
      newItem.value = null;
    };
    return {
      newItem,
      handelAddNewTask,
    };
  },
};
</script>

<style lang="scss" scoped>
.new-item-content {
  background-color: #fff;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  border-radius: 5px;
  form {
    display: flex;
    justify-content: space-around;
    padding: 6px;
    input {
      border: none;
      width: 90%;
      color: $gray;
    }
  }
}
</style>
