<template>
  <div class="task-item" :class="{ 'task-item-complited': complete == true }">
    <div>
      <!-- STATUS -->
      <input
        type="checkbox"
        v-model="completeToUdpdate"
        @change="handelUpdateCompleteTask"
      />

      <!-- NAME  -->
      <input
        class="value"
        type="text"
        id="NameToUdpdate"
        v-model="NameToUdpdate"
        required
        placeholder="Add new task .. "
        :disabled="!editable"
      />
    </div>

    <!-- Block Action  -->
    <div class="action">
      <!-- Delete Button // Cancel Button -->
      <button
        type="button"
        :title="editable ? 'Cancel' : 'Delete'"
        class="button-action"
        @click="editable ? resetData() : handelDeleteTask()"
      >
        <svgCancel v-if="editable" /> <svgTrash v-else />
      </button>

      <!--  Edit Button // Valid Button -->
      <button
        type="button"
        :title="editable ? 'valid' : 'Edit'"
        class="button-action"
        @click="editable ? handelUpdateTask() : (editable = true)"
      >
        <svgCheck v-if="editable" /> <svgEdit v-else />
      </button>
    </div>
    <!-- End  Block Action  -->
  </div>
</template>

<script>
import { ref } from "vue";

export default {
  props: {
    name: { required: true },
    complete: { required: true },
  },
  setup(props, context) {
    /*
     * The component's data.
     */
    const editable = ref(false);
    const NameToUdpdate = ref(props.name);
    const completeToUdpdate = props.complete;

    /*
     * Emit evenet to delete task
     */
    const handelDeleteTask = () => {
      context.emit("DeletTask");
    };

    /*
     * Emit event to update status task
     */
    const handelUpdateCompleteTask = () => {
      context.emit("UpdatecompleteTask");
    };

    /*
     * Emit event to update task name
     */
    const handelUpdateTask = () => {
      if (props.name != NameToUdpdate.value) {
        context.emit("handelUpdateTask", NameToUdpdate.value);
        editable.value = false;
      }
    };

    /*
     * Reset Name && editable Value
     */
    const resetData = () => {
      editable.value = false;
      NameToUdpdate.value = props.name;
    };
    return {
      editable,
      NameToUdpdate,
      handelDeleteTask,
      handelUpdateCompleteTask,
      completeToUdpdate,
      handelUpdateTask,
      resetData,
    };
  },
};
</script>

<style lang="scss" scoped>
.task-item {
  margin-bottom: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #00000021;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  &:hover {
    background-color: #f7f7f7;
  }
  .value {
    min-width: 75%;
    color: $gray;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    background: #fff;
    margin-left: 5px;

    &:disabled {
      background: transparent;
    }
  }
  .action {
    display: flex;
    align-self: self-end;
  }
  input[type="checkbox"] {
    accent-color: green;
    &::before {
      border-color: #fff;
    }
  }
}
.task-item-complited {
  background: #0080001a;
  border: 1px solid rgb(0 128 0 / 25%);
  &:hover {
    background-color: rgb(0 128 0 / 25%);
  }
}
</style>
