body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
}
#app {
  width: 100%;
}
button,
select,
input {
  outline: none;
}
.add-button {
  background-color: $primary;
  color: #fff;
  border: none;
  padding: 6px;
  border-radius: 5px;
  &:hover {
    background-color: $primary-hover;
  }
}
.button-action {
  border: none;
  background-color: transparent;
  &:hover {
    background-color: transparent;
  }
}
